.title{
    font-family: 'Coiny', cursive;
    font-size: x-large;
    color: #495057;
}

#background {
    background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom, white, purple); /* Standard syntax (must be last) */
  }

.content-background{
    background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom, purple, white); /* Standard syntax (must be last) */
}

.rating {
    vertical-align: bottom;
    display: inline-block;
    text-align: center;
    color: #3b075d; 
    background-image: linear-gradient(to bottom, #51b2ba, #e8d3dc);
    margin: 0;
    
}

.gif-container{
    border: solid #3b075d 2px;
    max-width: max-content;
    display: inline-grid;
    margin: 10px;
}
img{
    max-width: 100%;
}

button{
    margin: 10px;
}


.header-search{
    background: white;
    
}

.nav-image{
    position: relative;
    max-width: 100%;

}

body{
    background-image: url("../images/background-pattern.png");
}
.flex {
    display: flex;
    flex-direction: row;
    width: 100%;

 }
.input-group{
    padding-top: 20px;
}

.input-group-addon { 
        width: 100px; 
        padding: .375rem .75rem;
        color: #495057;
        border: 1px solid #ced4da;
    }

ul{
    padding-inline-start: 10px;
}

.custombtn{
    color: #3b075d;
    border: 1px solid #3b075d;
    background-image: linear-gradient(to bottom, #51b2ba, #e8d3dc);
}